<form class="" action="/Client/@Model.id/Edit" method="post">
  <label for="Name">Name: </label>
  <input id="Name" name="Name" type="text" value="@Model.name"><br><br>
  <br>
<button type="submit">Submit</button>
</form>
