<form class="" action="/Specialty" method="post">
  <label for="Name">Specialty Name: </label>
  <input id="Name" name="Name" type="text"><br><br>
  <br>
<button type="submit">Submit</button>
</form>
