<form class="" action="/Stylist" method="post">
  <label for="Name">Name: </label>
  <input id="Name" name="Name" type="text"><br><br>
  <label for="Description">Description: </label>
  <input id="Description" name="Description" type="text"><br><br>
<button type="submit">Submit</button>
</form>
